<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="false" scanPeriod="60 seconds">
    
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">  
        <encoder>  
            <charset>UTF-8</charset>  
            <!-- pattern>[%d{MM-dd HH:mm:ss}][%p][%logger{0}:%line] - %m%n</pattern -->  
            <pattern>[%d{MM-dd HH:mm:ss}][%logger{0}:%line] - %m%n</pattern>  
        </encoder>  
    </appender>
    
    <root level="info">  
        <appender-ref ref="stdout" />  
    </root>  

</configuration>